/* TODO: Smile. You are enough. */

/* start of universal selectors */
:root {
    --darkOlive: #606c38;
    --kombuGreen: #283618;
    --cornsilk: #fefae0;
    --earthYellow: #dda15e;
    --liverDogs: #bc6c25;
}

* {margin: 0;
   padding: 0;}

body {
    padding: 0;
    background-color: var(--darkOlive);
}

/* end of universal selectors */
#pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--liverDogs);
}

.myBtns:hover {
    background-color: var(--kombuGreen);
    color: var(--earthYellow);
    cursor: pointer;
}
.trivia {
color: var(--cornsilk);
}
.red {
    background-color: rgb(142, 23, 23);
}

.green {
    background-color: rgb(32, 86, 32);
}